doctype	html
html
	head
		title node-compose monitor

		script(src="./vendor.js")
		link(rel="stylesheet", type="text/css", href="./main.css")

	body
		.ui-view(style="height: 100%;") Loading ...
		script(src="./boot.js")
