doctype	html
html
	head
		title node-compose monitor

		script(src="/assets/vendor.js")
		link(rel="stylesheet", type="text/css", href="/assets/main.css")

	body
		.ui-view(style="height: 100%;") Loading ...
		script(src="/assets/boot.js")
