.R4rmOwgT
	h1 Images

	table.table--images
		thead
			tr
				td.no No
				td.name Name
				td.state Status
				td.controls Controls
				td.script-controls Scripts

		tbody
			tr(ng-repeat="image in images")
				td(ui-sref="^.images.image({ imageId: image.id })").no {{ $index + 1 }}
				td(ui-sref="^.images.image({ imageId: image.id })").name {{ image.id }}
				td(ui-sref="^.images.image({ imageId: image.id })").state: image-status(image="image")
				td.controls: image-controls(image="image", rows)
				td.script-controls: image-script-controls(image="image", rows)

	h1 Logs
	log-monitor(logs="data.logs")
