.d4Ijm7XD
	header
		select(ng-model="$storage.logMonitor.limit", ng-options="item as item for item in [10, 50, 100]")
	.screen
		.item(ng-repeat="log in logs | limitTo:$storage.logMonitor.limit:0 - $storage.logMonitor.limit")
			span.tags [{{ (log.tags | logMonitorTags).join(', ') }}]
			span.msg(ng-bind-html="log.data | ansi2html")