.Qepcd21K
	aside(ng-if="showAside")
		li(ng-repeat="image in images", ui-sref=".image({ imageId: image.id })", ui-sref-active="active")
			.title {{ image.id }}
			.status
				image-status(image="image")


	main.ui-view
		.image-list
			li(ng-repeat="image in images", ui-sref=".image({ imageId: image.id })", ui-sref-active="active")
				.title
					image-status(image="image")
					span {{ image.id }}
				.details {{ image.absPath }}
				.controls
					image-controls(image="image")

