.UyjZzIBR(ng-if="image")
	header
		.details
			h1.title
				image-status(image="image")
				span {{ image.id }}

			table.table--config
				tbody
					tr
						td Path
						td {{ image.absPath }}
					tr
						td Env
						td
							.env(ng-repeat="env in image.config.environment")
								span {{ env }}

		.controls
			image-controls(image="image")


	section.logs
		log-monitor(tags="['#image', image.id]")
