.UyjZzIBR(ng-if="image")
	header
		.details
			h1.title
				image-status(image="image")
				span.id {{ image.id }}
				span.pkg-name(ng-if="image.pkg.name") /{{ image.pkg.name }}

			p.description {{ image.pkg.description }}

			.version {{ image.pkg.version }}

			table.table--config
				tbody
					tr
						td CWD
						td {{ image.absPath }}
					tr
						td Start
						td {{ image.commands.start }}
					tr
						td Export
						td
							.env(ng-repeat="env in image.config.environment")
								span {{ env }}

		.controls
			image-controls(image="image")


	section.logs
		log-monitor(tags="['#image', image.id]")
